.authPage {
    position:absolute;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 400px;
    min-height: 330px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(211, 215, 219);
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 15px;
    opacity: 90%;
    font-family: 'Electrolize', sans-serif;
}

.flex-form {
    min-height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.flex-form input {
    margin-bottom: 10px;
}




